@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top:65px;
}

.container{
    width: 840px;
    border-right:1px solid black;
    border-left:1px solid black;
    height: 100%;
}

.profile-top{
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
    border-bottom: 1px solid black;

    .profile-photo{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        border:1px solid black
    }

    .profile-texts{
        flex:1;
        padding:12px 0px;

        .dname{
            font-size: 2rem;
            font-weight: 600;
        }

        .dspecialization{
            font-size: 20px;
            font-weight: 400;
        }
    }
}

.profile-contents{
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    gap: 24px;
}

.profile-section{
    display: flex;
    flex-direction: column;
    gap:12px;

    .profile-section__header{
        font-size: 24px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rating-text{
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.action-buttons{
    display: flex;
    width: 100%;
    border: 1px solid #B8B8B8;
}


.action-btn{
    padding: 12px 0px;
    width:100%;
    color:#2282AF;
    background-color: transparent;
    border:none;
    font-weight: 400;
    
}

.main-action__buttons{
	display:flex;
	width:100%;
    gap:24px;
    border: none;
}

.action-forms{
	flex:1;
}

#mark-favorite{
    border:1.5px solid #F8459E;
    color:#F8459E;
    border-radius: 4px;
}

#book-appointment{
    background-color: #00A0AC;
    color: white;
    border-radius: 4px;

}

#see-reviews{
    border-right:1px solid #B8B8B8;
}

.review-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.review{
    display: flex;
    gap: 12px;
    align-items: center;
    .review-img{
        width: 48px;
        height: 48px;
        border: 1px solid black;
    }

    .review-text__container{
        flex:1;
        text-align: justify;
        max-height: 48px;
        text-overflow: ellipsis;

        .reviewer-name{
            font-size: 14px;
            font-weight: 400;
        }

        .review-text{
            display: -webkit-box;
            font-size: 12px;
            -webkit-line-clamp: 2; /* Show 5 lines max */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}